<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect everything to public folder unless already pointing to it
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>



